.ul{
	margin: 0px;
   padding: 0px; 
   padding-top: 20px;
}
.ul li{
	list-style: none;
	padding: 5px;
	
}
.ul li div{
	display: inline-block;
    width: 100px;
    text-align: left;
	
}
.basis{
	text-align: left;
	width: 78%;
	display: inline-block;
}

 
 .produkt li{
	min-width: 200px;
 	margin-top: 20px;
 	width: 30%;
 	border: solid 1px #cccccc;
 	display: inline-block;
	 margin-right: 20px;
	 text-align: center;
 	
}
 .produkt li img{
	width: 110px;
	height: 80px;
}
.produkt li h3{
	margin-top: 30px;
}
.aktia{
	position: absolute;
transform: rotate(-45deg);
margin-top: -8px;
margin-left: -25px;
color: green;
width: 70px;
background-color: #ffffff;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom: solid 1px #cccccc;

}
.aktia span{
	color: red;
}

.product_discript{
	padding-left: 25px;
	text-align: left;
	font-size: 11pt;
}
.zakazati div{
    background-color: green;
    width: 100px;
    display: inline-block;
    color: #ffffff;
    padding: 5px;
    margin: 20px;
}
.zakazati div:hover{
	background-color: red;

}
.cena{
	margin-top: 20px;

}
.text{
	text-align: left;
	margin-top: 20px;
}
.calaulator{
	width: 78%;
    height: 500px;
    display: inline-block;
}
.calaulator_img{

float: left;
padding-bottom: 500px;
width: 400px;
margin-left: 300px;
padding-right: 100px;

}
#click{
    width:280px;
    height:50px;
}
.cal_prod{
text-align: left;
}
.type_windous{
	height: 50px;
}
.type_windous img{
height: 50px;
border: solid 2px #ffffff;
cursor: pointer;

}
.type_windous img:hover{
	
	border-bottom: solid 2px red;
	
}
.type_windous li{
	padding-right: 8px;
	list-style:none;
	float: left;
}

.cal_prod ul li{
list-style:none; 
}
.image{
	margin-left: -16px;
	float: left;
	position: relative;
}
.setka{
	float: left;
	width: 100px;
	display: none;
	position: absolute;
	margin-top: 5px;
}
#inner_width{
	margin: 0px;
    padding: 0px;
    width: 70px;
}
#inner_height{
	transform: rotate(-90deg);
    position: absolute;
    margin-left: -40px;
    margin-top: 60px;
    height: 30px;
}
#price_deaf{
	border: solid 1px #cccccc;
	width: 100%;
}
#price_deaf td{
	border: solid 1px #cccccc;
	font-size: 14pt;
	color: rgb(109, 25, 105);
}
#price_deaf td img{
	width: 15px;
}
#order_accepted{
	text-align: left;
}
.product{
	width: 60px;
	display: inline-block;
	padding-left: 5px;
}
.goods{
	text-align: center;
}
.goods table td img{
	max-width: 400px;
}
#form_edit{
	text-align: left;
    width: 60%;
	display: inline-block;
	margin-top: 20px;
}
#form_edit li{
	list-style: none;
}
#admin_control{
	width: 100%;
	height: 150px;
	background-color:#00FF7F;
	position: absolute;
	
}
#admin_control div{
	margin-left: 20px;
	font-size: 15pt;
	margin-top: 10px;
	color: #DC143C;
	text-align: left;
}
#admin_control div img{
	margin-left: 55px;
}
#goods_img{
	margin-top: -500px;
}
#goods_img img{
	width: 250px;
    margin-left: 150px;
}
#goods_img div{
	margin-left: 300px;
}

#img_submit{
	position: absolute;
	margin-top: 80px;
	margin-left: 180px;
}
#goods_list{
	text-align: left;
    width: 60%;
	display: inline-block;
	padding: 0px;
}
#goods_list li{
	list-style: none;
}
#goods_list li a{
	text-decoration: none;
    color: blue;
    width: 400px;
    display: inline-block;
}
#goods_list li a:hover{
	text-decoration: none;
	color: rgb(255, 0, 55);
}
.add{
	width: 60%;
    text-align: left;
	padding: 20px;
	padding-bottom: 40px;
	display: inline-block;
	
}

.add span a{
background-color:#14E37B;
	padding: 5px;
	border-radius: 8px;
	text-decoration: none;
	color: black;

}
.add span a:hover{
	background-color:#7AD4A6;
	
}
#new_product{
	text-align: left;
    width: 60%;
    display: inline-block;
}
#new_product h2{
	text-align: center;
	font-size: 14pt;
}
#submit_new_product{
	background-color: #00FF7F;
    cursor: pointer;
    border-radius: 8px;
	padding: 5px;
	border: solid 1px #00FF7F;
	font-size: 11pt;	
	color: black; 
	
}
#submit_new_product:hover{
	background-color:#7AD4A6;
	border: solid 1px #7AD4A6;
}
#new_img_file{
	float: right;
	margin-top: 10px;
}
#div_img_file{
	
	width: 230px;
    height: 50px;
    float: right;
    
}
#close_product{
	position: absolute;
	margin-left: 100px;
	margin-top: 5px;
	font-size: 13pt;
}
#close_product a{
	color: black;
	padding: 5px;
	background-color: #00FF7F;
	border-radius: 8px;
	text-decoration: none;
	
	
}
#close_product a:hover{
	background-color:#7AD4A6;
}

#sub_product{
	background-color: #00FF7F;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px;
    border: solid 1px #00FF7F;
    font-size: 11pt;
    color: black;
	position: absolute;
}
#file_img img{
	width: auto;
	height: 100%;
}
#file_img ul li{
	float: left;
    padding: 5px;
    list-style: none;
    width: 150px;
	height: 150px;
	padding-right: 10px;
	margin-bottom: 20px;
	
}
.button{
	
	background-color: #00FF7F;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px;
    border: solid 1px #00FF7F;
    font-size: 13pt;
    color: black;
	margin-bottom: 2px;
	
}
.button:hover{
	background-color: #2B8C4E;
	color: #ffffff;
}
.category{
	width: 60%;
	display: inline-block;
	text-align: left;
}
.category ul li div{
	display: inline-table;
	width: 150px;
} 
.category ul{
	float: left;
}
.category ul li{
	padding-bottom: 10px;
}
.order{
	display: inline-block;
	text-align: left;
	
}
.card{
	width: 60%;
    display: inline-block;  
    margin-top: 0px;
    background-color: #ffffff;
}
.div_card{
	text-align: right;
	margin-top: 20px;
}
.div_card a{
	margin-right: 50px;
	text-decoration: none;
	color: #000000;
	
}
.order div{
	width: 150px;
	display: inline-block;
}
.order img{
	width: 30px;
	height: 30px;
}
.prod{
	float: left;
	text-align: left;
	
}
.prod span{
	font-size: 10pt;
	color: #938a8a;
}
.ord{
	text-align: left;
    float: right;
    width:300px; 
}

.ord  span{
	font-size: 10pt;
	color: #938a8a;
}

.ord li div{
	width:300px; 
}
.app{
	width: 100%;
}
.settings{
	
	text-align:left;
}
.settings input{
	
	text-align: left;
}
.settings img{
	width: 15px;
}
.button2{
	background-color: #14E37B;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
	color: black;
	
}
.button2:hover{
	background-color:#7AD4A6;
}