#menu ul li div{
    border-bottom: solid 2px #ffffff;
    width: 0px;
    margin-top: 0px;
}
#menu ul li a{
    color: #333333;
    padding-bottom: 30px;
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-variant: petite-caps;
    
}
#menu ul li a:hover{
    color: #009559;
    padding-bottom: 30px;
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-variant: petite-caps;
    
}
#menu ul li:hover div{
    border-bottom: solid 2px green;
    width: 100%;
    transition: 0.5s;
}
#menu ul li {
    position: relative;
}
#menu ul li ul{
    position: absolute;
    padding: 0;
    width: 350px;
    background-color: #ffffff;
    display: none;
    z-index: 8000;
}
#menu ul li:hover ul{
    display: block;
}

