ul li{
	list-style: none;
}

.menu{
   position: absolute;
   text-align: center;
}
.communication{
    margin-left: 33%;
	padding: 0px;
	margin-top: -45px;
    background-color: #ffffff;
    position: relative;
    opacity: 0.9;
    
 }
 .communication li{
    display: inline-block;
    margin-right: 80px;
 }
  .communication-span{
    float: right;
    text-align: center;
    padding-left: 15px;
    font-size: 9pt;
    color: green;
 }
 .tel{
    font-size: 20pt;
    color: red;
    font-family: 'Times New Roman', Times, serif;
 }
.menu ul li{
	padding-top: 5px;
   padding-bottom: 5px;
   margin-top: 20px;
   display:inline-block;
   padding-right: 12px;
   padding-left: 12px;
   border-left: solid 1px #cccccc;
   transform: skew(-15deg);
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
	
}
.menu ul li div{
	transform: skew(15deg);
}
.menu ul{
	margin-right: 170px;

}
.memu-2{
	margin: 0px;
	padding: 0px;
}
.menu ul li a{
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	display: block;
	text-decoration: none;
	font-size: 14px;

}  
.menu ul li a:hover{
	color: #06C320;
}

.menu_left ul li{
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: solid 1px #cccccc;
	list-style: none;
}
.menu_left ul li::before{
	content: url(../img/icon_menu_left.png);
}
.menu_left ul li a{
	text-decoration: none;
	color: #333333;
}
.menu_left ul li a:hover{
	color:#06C320;
}
#callin{
	position: absolute;
}
#callin li{
	list-style:none; 
}
#callin img{
	width: 100px;
}
#menu_admin{
	margin: 0px;
	padding: 0px;
}
#menu_admin li{
	list-style: none;
	display: inline-block;
	padding: 10px;
	margin: 0px;
	position: relative;
	cursor: pointer;
	font-size: 13pt;
}
#menu_admin li a{
	text-decoration: none;
	color: black;
	
}
#menu_admin li:hover{
background-color: #00FF7F;
}
#price_admin{
	margin-top: 10px;
	margin-left: -10px;
	padding: 0px;
	position: absolute;
	width: 300px;
	text-align: left;
	background-color: #ffffff;
}
#price_admin li{
	padding: 2px;
	display: none;
	list-style: none;
	text-align: left;
	position: relative;
	border-bottom: solid 1px #cccccc;
	z-index: 8000;
}
#price_admin li a{
	text-decoration: none;
	display: block;
	padding-bottom: 5px;
	padding-left: 5px;
}
#menu_admin li:hover ul li{
	display: block;
}
#nav_admin{
	padding-top: 150px;
}
#control ul li{
	display: inline-block;
	padding: 5px;
}
#mob_list li{
	margin-bottom: 10px;
	width: 300px;
}
#mob_list li a{
	color: #333333;
	text-decoration: none;
	font-size: 14pt;
}
#mob_list li a:hover{
	color: #06C320;
	
}
#mob_list li a::before{
	content:  url(../img/icon_menu_left.png);
	padding-right: 5px;
}
@media screen and (max-width: 800px){
	.communication{
		margin-left: 0px;
		padding: 0px;
		margin-top: 10px;
		background-color: #ffffff;
		position: relative;
		opacity: 0.9;
		
		
	 }
	 .communication li{
		 margin-bottom: 10px;
	 }	
}