@media screen and (max-width: 1000px) { 
    .logo {
        width: 100%;
        display: inline-block;
    }
    .menu {
       
        width: 100%;
       
    }
    .footer_tel {
           
        width: 100%;
       
    }
    .footer_tel div {
        
        margin-left: 35px;
    }
    .footer_sett {
        float: none;
        width: 100%;
    }
    .work {
        width: 90%;
   }
    .basis {
        text-align: left;
    }
    body {
        text-align: center;
    }
    #arrow_right {
        background-image: url(../img/right.png);
        margin-left: 65%;
       
    }
    #arrow_left {
        background-image: url(../img/left.png);
       
    }
    .work ul li {
       width: 300px;
     }
     .calaulator_img{
        text-align: center;
        float: left;
        padding-bottom: 0px;
        width: auto;
        margin-left: 36%;
        padding-right: 0px;
     }
     .type_windous{
       width: 100%;
       margin-left: 30%; 
     }
     .cal_prod{
         position: absolute;
         margin-top: 300px;
     }
     .cal_prod h3{
      
      
        width: 100%;
        text-align: center;
     }
    }
    @media screen and (max-width: 800px) { 
        .logo_img {
            width: 100%;
            display: none;
        }
        .logo_link {
            margin-left: 0px;
            text-align: center;
            position: relative;
        }
        .menu {
       
            display: none;
            
         }
         .content {
            width: 100%;
        }
        .produkt {
            text-align: center;
        }
        .basis {
            text-align: left;
            width: auto;
            display: inline-block;
            padding: 20px;
        }
        
        .work {
            width: 90%;
           
        }
        .menu_left {
             display: none;
        }
       
        .footer_tel div {
            
            margin-left: 35px;
        }
        #callin{
            display: none;
        }
        .massage {
            margin-top: 0px;
            background-color: #ffffff;
            display: inline-block;
            text-align: center;
            width: 100%;
        }
        .massage div {
            width: 100%;
            text-align: center;
            margin-right: 0px
        }
        .img2 {
            margin-left: 0px;
            margin-top: 20px;
        }
        .massage .tel_block {
            width: auto;
            margin-top: 20px;
        }
        .context_img img{
            width: 100%;
        }
        .calaulator_img{
            text-align: center;
            float: left;
            padding-bottom: 0px;
            width: auto;
            margin-left: 30%;
            padding-right: 0px;
         }
         .calaulator_img img{
             width: 80px;
         }
         .type_windous{
            width: 100%;
            margin-left: 1%; 
          }
          #brends{
              width: 100%;
              text-align: center;
          }
          #mob_menu{
              display: block;
          }
          #click{
              width:100%;
              height:50px;
              font-size:14pt;
          }
          .cal_prod {
    text-align: left;
    left: 0px;
    margin-left: 15px;
}
          
        }
@media screen and (max-width: 350px) { 
    .logo_img {
        height: 78px;
    }
    .logo_link{
        width: inherit;
        margin-left: 0px;
        text-align: center;
    }
    
   
    .cal_prod {
    text-align: left;
    left: 0px;
    margin-left: 15px;
}
    
    
    .work ul li {
        width: 200px;
        
    }
    .discript {
        width: 200px;
        
}
.work {  
    height: 470px;
}
    }